/*###########*/
/*## RESET ##*/
/*###########*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

/*############*/
/*## MOBILE ##*/
/*############*/

#pageCtn {
    min-height: 100vh;
    width: 100%;
    padding-inline: 1rem;
    padding-block: 0.5rem;
}

#cardCtn {
    display: flex;
    flex-direction: column;
}

#leftCol {
    background-color: lightcoral;
}

#cardImgMobile,
#cardImgDesktop {
    width: 100%;
}

#cardImgDesktop {
    display: none;
}

@media (width > 576px) {}

#rightCol {
    background-color: lightgreen;
}


/*#############*/
/*## DESKTOP ##*/
/*#############*/

@media (width > 576px) {
    #pageCtn {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #cardCtn {
        width: 500px;
        /* max-height: 350px; */
        flex-direction: row;
    }

    #leftCol,
    #rightCol {
        /* flex-basis: 50%; */
        flex: 0 0 50%;
    }

    #cardImgMobile {
        display: none;
    }

    #cardImgDesktop {
        display: block;
        height: 100%;
        /* width: 100%; */
        object-fit: cover;
    }
}