/*##########*/
/*## VARS ##*/
/*##########*/

:root {
    --color-green-500: hsl(158, 36%, 37%);
    --color-green-700: hsl(158, 42%, 18%);
    --color-black: hsl(212, 21%, 14%);
    --color-grey: hsl(228, 12%, 48%);
    --color-cream: hsl(30, 38%, 92%);
    --color-white: hsl(0, 0%, 100%);

    --border-radius-card: 0.7rem;
}

/*###########*/
/*## RESET ##*/
/*###########*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

/*############*/
/*## MOBILE ##*/
/*############*/

body {
    background-color: var(--color-cream);
}

#pageCtn {
    min-height: 100vh;
    width: 100%;
    padding-inline: 1rem;
    padding-block: 0.5rem;
}

#cardCtn {
    display: flex;
    flex-direction: column;
}

#cardImgMobile,
#cardImgDesktop {
    width: 100%;
}

#leftCol,
#cardImgMobile {
    border-top-left-radius: var(--border-radius-card);
    border-top-right-radius: var(--border-radius-card);
}

#cardImgDesktop {
    display: none;
}

@media (width > 576px) {}

#rightCol {
    border-bottom-left-radius: var(--border-radius-card);
    border-bottom-right-radius: var(--border-radius-card);
    background-color: lightgreen;
}


/*#############*/
/*## DESKTOP ##*/
/*#############*/

@media (width > 576px) {
    #pageCtn {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #cardCtn {
        width: 500px;
        /* max-height: 350px; */
        flex-direction: row;
    }

    #leftCol,
    #rightCol {
        flex: 0 0 50%;
    }

    #rightCol {
        border-radius: unset;
        border-top-right-radius: var(--border-radius-card);
        border-bottom-right-radius: var(--border-radius-card);
    }

    #cardImgMobile {
        display: none;
    }

    #cardImgDesktop {
        display: block;
        height: 100%;
        border-top-left-radius: var(--border-radius-card);
        border-bottom-left-radius: var(--border-radius-card);
        object-fit: cover;
    }

    .attribution {
        position: fixed;
        bottom: 0;
        /* margin: 0 auto; */
        width: 100%;
        text-align: center;
    }
}